version: '2'
services:
    p1-app:
        image: p1
        external_links:
            - p1-mysql:mysql
        environment:
            - SPRING_PROFILES_ACTIVE=prod,swagger
            - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/p1?useUnicode=true&characterEncoding=utf8&useSSL=false
            - JHIPSTER_SLEEP=10 # gives time for the database to boot before the application
        ports:
            - 8080:8080
    p1-mysql:
        extends:
            file: mysql.yml
            service: p1-mysql
